<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false" xmlns:log4j='http://jakarta.apache.org/log4j/'>
    <appender name="LOGFILE" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="siteminder.log" />
	    <param name="MaxFileSize" value="1000KB" />
    	<param name="MaxBackupIndex" value="10" />
    	<param name="Threshold" value="INFO" /> 
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%t]%d %-5p %c{1}:%L %m%n" />
		</layout>
    </appender>
    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%t]%d %-5p %c{1}:%L %m%n" />
        </layout>
    </appender>
    <root>
        <level value="DEBUG"/>
<!--        <appender-ref ref="LOGFILE"/>-->
		<appender-ref ref="STDOUT"/>
    </root>
</log4j:configuration>
